body{
    font-family: Arial;
    text-align:center;
    margin:5px;
    padding:10px;
}
h1{
    font-size:2.5rem;
}
#number{
    font-size: 2rem;
    margin-bottom:2rem;
}
button{
    padding:15px;
    margin:5px;
    font-size: 1rem;
}
